footer {
  padding: 58px 0 0 120px;
  background-color: #20484f;
  height: 385px;
  .container {
    display: flex;
    .MAX {
      h3 {
        color: #ffffff;
        font-size: 32px;
        height: 40px;
        margin: 58px 0 0 120px;
      }
      .main {
        margin: 31px 0 0 120px;
        display: flex;
        .input {
          display: block;
          .D1 {
            color: aliceblue;
          }
        }
      }
      .email {
        border-radius: 70%;
        display: flex;
        background-color: aliceblue;
        width: 383px;
        height: 48px;
        margin: 43px 0 0 120px;
        padding: 0;
        input {
          padding-top: 10px;
          padding-left: 24px;
          height: 48px;
          width: 247px;
          font-size: 18px;
          color: #b8e4da;
        }
        button {
          background-color: #b8e4da;
          font-size: 18px;
          height: 48px;
          width: 136px;
          padding-top: 10px;
          padding-left: 24px;
        }
      }
    }
    .main {
      margin-top: 69px;
      gap: 30px;
      margin-left: 227px;
      display: flex;
      color: #ffffff;
      .item {
        ul {
          li {
            list-style-type: none;
          }
        }
      }
    }
  }
}
