header {
  width: 100%;

  background-color: #20484f;
  .container {
    .header {
      display: flex;
      justify-content: space-between;
      i{
        display: none;
      }
      h1 {
        color: aliceblue;
        // margin: 21px 0 24px 40px;
      }
      nav {
        padding: 15px 0 0 0 ;
        // margin: 25px 0  0 0;
        ul {
          display: flex;
          justify-content: space-between;
          gap: 32px;
          li {
            
            }
            list-style-type: none;
            a {
              font-size: 18px;
              color: aliceblue;
              text-decoration: none;
            }

          }
        }
      }
      .button {
        button {
          padding: 10px 16px;
          border-radius: 5px;
          background: #b8e4da;
        }
        a {
          text-decoration: none;
          color: #b8e4da;
          // padding: 0 30px;
        }
        color: #20484f;
        // gap: 12px;

        margin: 7px;
      }
    }
  }

@media only screen and (max-width: 767px) {
  header {
    width: 100%;
    .container {
      .header {
        nav {
          display: none;
        }
        .button {
          display: none;
      
      }
      i{
        margin: 5px 0;
        font-size: 36px;
        display: block;
        color: #b8e4da;
      }
    }
    
  }
}
}
