
.hero {
  width: 1440px;
    height: 825px;
  .container {
    .row {
      .col-6{
        border-radius: 12px;
        img{
          position: absolute;
        width: 415px;
        height: 490px;
        left: 875px;
        top: 125px;
        z-index: 2;

        }
        .fon {
                  position: absolute;
                  width: 541px;
                  height: 601px;
                  left: 805px;
                  top: 80px;
                  z-index: 0;
                }
      }
      .col-6 {
        .p1 {
          position: absolute;
                  width: 239px;
                  height: 23px;
                  left: 139px;
                  top: 217px;
          font-weight: 700;
          font-size: 18px;
          line-height: 23px;
        }
        .p2{
          position: absolute;
        width: 557px;
        height: 154px;
        left: 139px;
        top: 264px;
        font-weight: 700;
        font-size: 64px;
        line-height: 120%;

        }
        .p3{
          position: absolute;
                  width: 483px;
                  height: 72px;
                  left: 139px;
                  top: 450px;
                  font-weight: 400;
                  font-size: 24px;
                  line-height: 150%;

        }
        
          .d0{
            position: absolute;
          width: 136px;
          height: 58px;
          left: 139px;
          top: 570px;
            button{
              padding: 16px 36px 15px 36px;
                          background-color: #20484f;
                          border-radius: 10px;
                          color: #ffffff;
            }

          }
          .d1{
            position: absolute;
          width: 168px;
          height: 58px;
          left: 295px;
          top: 570px;
            button {
                          border-radius: 10px;
                          color: #20484f;
                          padding: 16px 36px 15px 36px;
                          background-color: #ffffff;

          }
         

        }
      }
    }
  }
  }
