*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.sec-2{
    
    .OUR-1{
        img{
            &:hover{
                opacity: 0.5;

            }
        }
       
        .title{
            h1{
                font-family: 'Barlow', sans-serif;
            }
            display: flex;
            justify-content: space-between;
            button{
                padding: 0px 40px;
                background-color: transparent;
                border: 1px solid black;
                &:hover{
                    background-color: black;
                    color: white;
                }
            }
        }
    }
    .OUR-2{
        display: none;
    }
}
@media only screen and (max-width:767px){
  .sec-2{
    .OUR-1{
        .row{
            img{
                width: 100%;
                &:hover{
                    opacity: 0.5;
                }
            }
        }
        display: none;
    }
    .OUR-2{
        display: block;
        img{
            width: 100%;
        }
        button{
            text-align: center;
            margin: 30px;
            padding: 0px 40px;
            background-color: transparent;
            border: 1px solid black;
            &:hover{
                background-color: black;
                color: white;
            }

        }
    }
  }
}